@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/* Primary */
$soft-red: hsl(10, 79%, 65%);
$half-red: hsla(10, 79%, 65%, .5);
$half-cyan: hsla(186, 34%, 60%, .5);
$cyan: hsl(186, 34%, 60%);

/* Neutral */
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

$font-size: 18px;
$font-family: 'DM Sans', sans-serif;